:root {
  --color-30claro: #ea9c94;
  --color-31: #eb7067;
}

body {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: 10% auto 10%;
  grid-template-areas:
    "header header"
    "nav section"
    "footer footer";
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #50afa556;
  background-image: url(../../img/imagenes-globales/borde2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  grid-area: header;
  background-color: #acd4be;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
 background-image: url(../../img/header.jpg);
}

nav {
  grid-area: nav;
  margin: 25%;
  width: 30%;
  height: auto;
  text-align: left;
}

nav .botones {
  border-radius: 3px;
  width: 100%;
  text-align: left;
}

[v-cloak] {
  display: none;
}

button {
  background-color: #75160f;
  margin-bottom: 5%;
  cursor: pointer;
  border: none;
  color: #e7867a;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e7867a;
  color: #75160f;
}

section {
  display: grid;
  grid-area: section;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "preguntas puntos";
  column-gap: 5%;
  padding: 5%;
  padding-top: 30%;
  padding-right: 30%;
  margin: 5%;
}

section .preguntas {
  grid-area: preguntas;
  text-align: center;
  margin: 1%;
  padding: 0%;
  display: grid;
  height: auto;
  text-align: center;
  border-radius: 3px;

}

section .puntos {
  grid-area: puntos;
  padding: 20px;
  color: #75160f;
  font-weight: bold;
}

footer {
  grid-area: footer;
  background-color: #acd4be;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-image: url(../../img/footer.jpg);
}

/* Medidas*/

/*
400px X 600px
Extra small devices (phones, 
600px and down)*/

@media only screen and (max-width: 400px) {
  
  aside h1, h2, h3, h4, h5, h6 {
    font-size: 110%;
  }

  section h1, h2, h3, h4, h5, h6 {
    font-size: 110%;
  }

  header .logo {
    width: 1000%;
    height: auto;
  }
  header .titulo {
    width: 100%;
    height: auto;
  }

  nav{
    font-size: 90%;
  }

  section iframe {
    width: 90%;
    height: 40%;
  }

  body {
    background-image: url(../../img/imagenes-globales/borde2.png);
    background-size: auto 300px;
  }

  section .preguntas {
    width: 60px;
    height: auto;
    font-size: 12px;
    padding: 4px;
    border-radius: 3px;
  }

  section .puntos {
    padding:10%;
    width: 60px;
    height: auto;
    font-size: 12px;
    padding: 60px;
    border-radius: 3px;
  }

  button{
    width: 100px;
    height: auto;
    font-size: 14px;
    padding: 2%;
  }
}

/* 600px */


@media only screen and (max-width: 600px) {
  
  aside h1, h2, h3, h4, h5, h6 {
    font-size: 110%;
  }

  section h1, h2, h3, h4, h5, h6 {
    font-size: 110%;
  }

  header .logo {
    width: 1000%;
    height: auto;
  }
  header .titulo {
    width: 100%;
    height: auto;
  }

  nav{
    font-size: 90%;
  }

  section iframe {
    width: 90%;
    height: 40%;
  }

  body {
    background-image: url(../../img/imagenes-globales/borde2.png);
    background-size: auto 450px;
  }

  section .preguntas {
    width: 60px;
    height: auto;
    font-size: 12px;
    padding: 4px;
    border-radius: 3px;
  }

  section .puntos {
    padding:10%;
    width: 60px;
    height: auto;
    font-size: 12px;
    padding: 60px;
    border-radius: 3px;
  }

  button{
    width: 100px;
    height: auto;
    font-size: 14px;
    padding: 2%;
  }
}

/*650*/


@media only screen and (max-width: 650px) {
  
  aside h1, h2, h3, h4, h5, h6 {
    font-size: 110%;
  }

  section h1, h2, h3, h4, h5, h6 {
    font-size: 110%;
  }

  header .logo {
    width: 1000%;
    height: auto;
  }
  header .titulo {
    width: 100%;
    height: auto;
  }

  nav{
    font-size: 90%;
  }

  section iframe {
    width: 90%;
    height: 40%;
  }

  body {
    background-image: url(../../img/imagenes-globales/borde2.png);
    background-size: auto 450px;
  }

  section .preguntas {
    width: 60px;
    height: auto;
    font-size: 12px;
    padding: 4px;
    border-radius: 3px;
  }

  section .puntos {
    padding:10%;
    width: 60px;
    height: auto;
    font-size: 12px;
    padding: 60px;
    border-radius: 3px;
  }

  button{
    width: 100px;
    height: auto;
    font-size: 14px;
    padding: 2%;
  }
}

/* 850*/

@media only screen and (max-width: 850px) {
  
  aside h1, h2, h3, h4, h5, h6 {
    font-size: 110%;
  }

  section h1, h2, h3, h4, h5, h6 {
    font-size: 110%;
  }

  header .logo {
    width: 1000%;
    height: auto;
  }
  header .titulo {
    width: 100%;
    height: auto;
  }

  nav{
    font-size: 90%;
  }

  section iframe {
    width: 90%;
    height: 40%;
  }

  body {
    background-image: url(../../img/imagenes-globales/borde2.png);
    background-size: auto 550px;
  }

  section .preguntas {
    width: 60px;
    height: auto;
    font-size: 12px;
    padding: 4px;
    border-radius: 3px;
  }

  section .puntos {
    padding:10%;
    width: 60px;
    height: auto;
    font-size: 12px;
    padding: 60px;
    border-radius: 3px;
  }

  button{
    width: 100px;
    height: auto;
    font-size: 14px;
    padding: 2%;
  }
}

/* 768 */

@media only screen and (max-width: 768px) {
  body {
    background-image: url(../../img/imagenes-globales/borde2.png);
    background-size: auto 600px;
  }

  section .preguntas {
    width: 80px;
    height: auto;
    font-size: 12px;
    padding: 6px;
    border-radius: 3px;
    margin-left:50% ;
  }

  section .puntos {
    padding:10%;
    width: 60px;
    height: auto;
    font-size: 12px;
    padding: 50px;
    border-radius: 3px;
    margin-left:50% ;
  }


}

/* 800 */

@media only screen and (max-width: 800px) {
  nav{
    font-size: 100%;
  }

  body {
    background-image: url(../../img/imagenes-globales/borde2.png);
    background-size: auto 600px;
  }

  section .preguntas {
    width: 60px;
    height: auto;
    font-size: 14px;
    padding: 6px;
    border-radius: 3px;
    margin-left:50% ;
  }

  section .puntos {
    padding:10%;
    width: 60px;
    height: auto;
    font-size: 14px;
    padding: 60px;
    border-radius: 3px;
    margin-left:50% ;
  }


}

/* 992 */
@media only screen and (max-width: 992px) {

  section {
    display: grid;
    grid-area: section;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "preguntas puntos";
    column-gap: 5%;
    padding: 5%;
    padding-top: 20%;
    padding-right: 30%;
    margin: 2%;
  }

  nav{
    font-size: 100%;
  }

  body {
    background-image: url(../../img/imagenes-globales/borde2.png);
    background-size: auto 600px;
  }

  section .preguntas {
    width: 60px;
    height: auto;
    font-size: 14px;
    padding: 1px;
    border-radius: 3px;
    margin-left:10% ;
    margin-top: 2%;
  }

  section .puntos {
    padding:10%;
    width: 60px;
    height: auto;
    font-size: 14px;
    padding: 60px;
    border-radius: 3px;
    margin-left:10% ;
    margin-bottom: 10%;
  }

  button {
    background-color: #7c2d28;
    margin-bottom: 2%;
    cursor: pointer;
    border: none;
    color: #e7867a;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }


}

/*1000 */

@media only screen and (max-width: 1000px) {


}

/* 1200 */


@media only screen and (max-width: 1200px) {


}

@media only screen and (max-width: 1300px) {


}